<h1>Are you sure you want to delete this slide?</h1>
<br>
<center>
<img src="<%= ext_url %>" alt="">

<br>
<div class="dlete">
  confirm <br>
  <a href="#" class="confirm-deletion" data-id="<%= id %>">
    <i class="fa fa-trash"></i>
  </a>
</div>
</center>