
<div id="information" style="display:none" pose-length="<%= pose_length %>" slideshowid="<%= id %>"></div>

<% @images = Slideshow.find(id).slides %>

<div class="pose-window">
  <img src="" alt="">
</div>

<div class="right-menu">
  asdf
  <div id="clock">

  </div>
  <a href="#" id="pause-draw-modal">PAUSE</a>
  <br>
  <a href="#" id="next-draw-modal">NEXT</a>
  <br>
  <a href="#" id="close-draw-modal">[close]</a>
</div>

<script>
var number = $("#information").attr("slideshowid");
var poseLength = $("#information").attr("pose-length");
var poseLengthMilisecs = parseInt(poseLength) * 60 * 1000;
var running = false;
var time = poseLength * 60;
var i = 0;
setInterval(function(){
  if(running == true){
    time -= 1;
    if(time < 0) {
      time = poseLength * 60;
      i += 1;
      change_image(i);
    }
    $("#clock").text(time)
  }
},1000)

$("body").on('click', "#close-draw-modal", function(event) {
  event.preventDefault();
  $(".backdrop").trigger('click');
  running = false;
});

$('body').on('click', '#pause-draw-modal', function(event) {
  event.preventDefault();
  if(running == true){
    running = false;
    $(this).text("RESUME");
  } else {
    running = true;
    $(this).text("PAUSE");
  }
});
var change_image = function(i) {
    $.ajax({
      url: '/slideshows/'+number+'/get_images_from_show'
    })
    .done(function(data) {
      var slides = data;
      if(i != 0){
        var audio = new Audio('/sounds/change.wav');
        audio.play();
      }
      if(i <= slides.length) {
        var url = slides[i];
        $(".pose-window").find('img').attr('src', url);
      } else {
        $(".backdrop").trigger('click');
        alert('done');
      }
    })
}

running = true;
// change_image(0);
</script>