<center>
  <div style="width:80%">

    <img src="/images/logo.png" class="logo-pic" alt="">
    <h2>How does this work?</h2>

    <p>Welcome to Daily Quicks!  This site is meant to be a quick and easy way for artists, illustrators and hobbyists alike to hone their quick drawing skills and share thier slide show with others</p>
  <hr>
    <h3>Draw!</h3>

    <p>There are a number of ways to draw on this app.  First, your can browse for slide shows, click one to be taken to that show, then click the 'start study' button at the bottom to bring up the options form.  Once you select how many slides you want to be shown, and how long to show them, submit the form to launch the study.</p>

    <p>Another way to draw is to click on one of the Quick Buttons to the upper right of the window.  The buttons are labeled according to how long each slide is.  You may select 40 slides at 30 seconds each, 20 slides and 1 minute each, 10 slides and 2 minutes each or 40 slides and 5 minutes each.  More options to come soon.  Here you will get random slides from the entire app.</p>

    <p>The final way to draw is to go to your slides page, you may either draw form your own pool of slides that you uploaded, or you may draw from a list of slides that you have liked.</p>
  <hr>

    <h3>
      Upload!
    </h3>

    <p>Half of this works by the community sharing thier slides and slideshows.  To upload slides, you first have to create a new slideshow by clicking the link on the navigation bar.  Fill out the title of the new show in the form that pops up then create.  You will be then taken to a page where you can upload slides either from your computer or from URLs form the internet.</p>
  </center>
  </div>