<center>
<h1>Slide show creation</h1>
<h5>Lets start by choosing a title for this new slide show</h5>
<form id="save_slide" action="/home/save_slide_show" method="post">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
  <label for="info[title]">Title</label>
  <input type="text" name="info[title]" placeholder="slideshow title...">
  <input type="submit">
</form>
</center>
