<ul class="slideshow_lists_user_slideshows">
<% @slideshows.each do |ss| %>
<a href="/slideshows/<%= ss.id %>/edit">
  <% if ss.slides.blank? %>
    <li>
        No Slides Yet
  <% else %>
    <li style="background-image:url(<%= ss.slides.first.ext_url %>)">
  <% end %>

    </li>
  </a>
<% end %>
</ul>